<div id="<%= dom_id sportsman %>">
<p>
  <strong>First name:</strong>
  <%= sportsman.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= sportsman.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= sportsman.age %>
</p>

<p>
    <strong>Ball control:</strong>
    <%= sportsman.ball_control %>
  </p>

  <p>
    <strong>Short passing:</strong>
    <%= sportsman.short_passing %>
  </p>

  <p>
    <strong>Dribbling:</strong>
    <%= sportsman.dribbling %>
  </p>

  <p>
    <strong>Running with the ball:</strong>
    <%= sportsman.running_with_the_ball %>
  </p>

  <p>
    <strong>Crossing:</strong>
    <%= sportsman.crossing %>
  </p>

  <p>
    <strong>Shooting:</strong>
    <%= sportsman.shooting %>
  </p>

  <p>
    <strong>Progress:</strong>
    <%= sportsman.progress %>
  </p>

</div>
