<div id="<%= dom_id sportplayer %>">
  <p>
    <strong>First name:</strong>
    <%= sportplayer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= sportplayer.last_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= sportplayer.age %>
  </p>

  <p>
    <strong>Ball control:</strong>
    <%= sportplayer.ball_control %>
  </p>

  <p>
    <strong>Short passing:</strong>
    <%= sportplayer.short_passing %>
  </p>

  <p>
    <strong>Dribbling:</strong>
    <%= sportplayer.dribbling %>
  </p>

  <p>
    <strong>Running with the ball:</strong>
    <%= sportplayer.running_with_the_ball %>
  </p>

  <p>
    <strong>Crossing:</strong>
    <%= sportplayer.crossing %>
  </p>

  <p>
    <strong>Shooting:</strong>
    <%= sportplayer.shooting %>
  </p>

  <p>
    <strong>Progress:</strong>
    <%= sportplayer.progress %>
  </p>

</div>
